* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/wall.png");

    h1 {
        font-size: 100px;
        font-weight: 900;
        text-align: center;
        padding: 1rem;
        font-family: "Edu TAS Beginner", cursive;
    }

}

body {
    background-image: url("../img/cork.png");
    height: 100vh;
}

.card-body {
    img {
        width: 100%;
    }
}

.title {
    font-family: "Edu TAS Beginner", cursive;
    margin: 1rem;

}

.card:hover {
    transform: rotate(20deg) scale(1.2);
    z-index: 10;
}

.card-head {
    img {
        margin-bottom: -1.1rem;
        z-index: 2;
    }
}